<div>
<button mat-button>mat-button</button>
<button mat-raised-button>mat-raised-button</button>
<button mat-flat-button>mat-flat-button</button>
<button mat-stroked-button>mat button</button>

<button color="primary" mat-button>primary</button>
<button color="warn" mat-button>warn</button>
<button color="accent" mat-button>accent</button>

<button color="primary" mat-raised-button>mat-raised-button-primary</button>
<button color="warn" mat-raised-button>mat-raised-button-warn</button>
<button color="accent" mat-raised-button>mat-raised-button-accent</button>

<button mat-icon-button>mat-icon-button</button>
<button mat-fab> mat-fab</button>
<button mat-mini-fab>mat-mini-fab</button>


<button mat-raised-button>mat-raised-button</button>

</div>
