<div>
<mat-form-field>
    <mat-label>Topic</mat-label>
<mat-select [(value)]="selectedValue">
    <mat-option >None</mat-option>
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
</mat-select>


</mat-form-field>
{{selectedValue}}
</div>
<mat-divider></mat-divider>
<div>
    <mat-form-field>
        <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue1">
        <mat-option >None</mat-option>
        <mat-optgroup label="Course">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
        <mat-option value="nokia">Nokia</mat-option>
        <mat-option value="samsung">Samsung</mat-option>
        <mat-option value="apple">Apple</mat-option>
    </mat-optgroup>
    </mat-select>
    
    
    </mat-form-field>
    {{selectedValue1}}
    </div>