<div><mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
    Angular material fundamentals
</mat-panel-title>
<mat-panel-description>
    Total Duration : 3hours

</mat-panel-description>

</mat-expansion-panel-header>
<p> this is the course details

</p>
<mat-action-row>
<button mat-raised-button>Enroll</button>

</mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Angular  fundamentals
    </mat-panel-title>
    <mat-panel-description>
        Total Duration : 2 hours
    
    </mat-panel-description>
    
    </mat-expansion-panel-header>
    <p> this is the course details
    
    </p>
    <mat-action-row>
    <button mat-raised-button>Enroll</button>
    
    </mat-action-row>
    
    </mat-expansion-panel>
</div>
    <div>
<mat-accordion multi=false hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Angular material fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duration : 3hours
        
        </mat-panel-description>
        
        </mat-expansion-panel-header>
        <p> this is the course details
        
        </p>
        <mat-action-row>
        <button mat-raised-button>Enroll</button>
        
        </mat-action-row>
        
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Angular  fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2 hours
            
            </mat-panel-description>
            
            </mat-expansion-panel-header>
            <p> this is the course details
            
            </p>
            <mat-action-row>
            <button mat-raised-button>Enroll</button>
            
            </mat-action-row>
            
            </mat-expansion-panel>

</mat-accordion>

    </div>