<button (click)="logout()" style ="float:right;" color="primary" mat-raised-button>Logout</button>
<nav>
    <a routerLink="/employees" routerLinkActive="active">Employee</a><br>
    <a routerLink="/formexample" routerLinkActive="active">Employee Form Example</a><br>
    <a routerLink="/matbutton" routerLinkActive="active">Mat Button Example</a><br>
    <a routerLink="/matbuttontoggle" routerLinkActive="active">Mat Button Toggle Example</a><br>
    <a routerLink="/signin" routerLinkActive="active">Login</a><br>
    <a routerLink="/signup" routerLinkActive="active">Registration</a><br>
    <a routerLink="/display" routerLinkActive="active">Display</a><br>
    <a routerLink="/icon" routerLinkActive="active">Icons</a><br>
    <a routerLink="/badge" routerLinkActive="active">Badge</a><br>
    <a routerLink="/spinner" routerLinkActive="active">Spinner</a><br>
    <a routerLink="/toolbar" routerLinkActive="active">ToolBar</a><br>
    <a routerLink="/sidenav" routerLinkActive="active">Side Nav</a><br>
    <a routerLink="/menu" routerLinkActive="active">Menu</a><br>
    <a routerLink="/list" routerLinkActive="active">List</a><br>
    <a routerLink="/gridlist" routerLinkActive="active">Grid List</a><br>
    <a routerLink="/expansionlist" routerLinkActive="active">Expansion List</a><br>
    <a routerLink="/cards" routerLinkActive="active">Cards</a><br>
    <a routerLink="/tabs" routerLinkActive="active">Tabs</a><br>
    <a routerLink="/stepper" routerLinkActive="active">Stepper</a><br>
    <a routerLink="/input" routerLinkActive="active">Input</a><br>
    <a routerLink="/select" routerLinkActive="active">Select</a><br>
    <a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a><br>
    <a routerLink="/shopping" routerLinkActive="active">Shopping Cart</a><br>

  </nav>
